-if @error.present?
  ERROR
  = @error
-else
  %table{ border: 1 }
    -case @resource_type
    -when 'Sku'
      =render('sku', data: @data)
    -when 'Supplier'
      =render('supplier', data: @data)
